body {
  background-color: black;
}
.center {
  vertical-align: middle;
  text-align: center;
  color: white;
}
.intro {
  vertical-align: middle;
  text-align: center;
  color: white;
}
.explain {
  vertical-align: middle;
  text-align: center;
  color: white;
  cursor: help;
}
#button {
  vertical-align: middle;
  text-align: center;
  color: black;
}
/* Les lignes de codes parlent d'elles-même. */
